.btn {
  &__twitter {
    display: flex;
    justify-content:space-between;
    padding: 0 12px 8px;
    @include pc {
      padding: 8px 36px;
    };
  }
  &__amazon {
    width: 140px;
    margin-top: 28px;
    &--link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 35px;
      box-sizing: border-box;
      background: #fff;
      position: relative;
    }
    &--link span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 35px;
      background: #fff;
      box-sizing: border-box;
      color: #333;
      font-size: 16px;
      letter-spacing: 0.1em;
      text-decoration: none;
      box-shadow: 0px 5px 12px #CAD4E2, -6px -6px 12px #FFF;
      position: absolute;
      top: -5px;
      left: 0;
      transition-duration: 0.2s;
      background: #ffb642;;
      color: white;
    }
    &--link:hover span {
      left: 0;
      top: 0;
      box-shadow: 0 0 4px #CAD4E2, -2px -2px 4px #FFF;
    }
  }
}
