.card {
  &__list {
    font-size: 0;
  }
  &__item {
    display: inline-block;
    width: 100%;
    @include pc {
      width: 33%;
    };
    &--large {
      width: 100%;
      .card__title {
        margin-top: 0px;
      }
    }
  }
  &__contents {
    display: flex;
    padding: 16px 0;
    border-bottom: solid 1px #CCCCCC;
    @include pc {
      margin: 0 16px;
    };
    &--no-line {
      padding: 16px 0 0;
      border-bottom: none;
    }
  }
  &__image {
    height: 50vw;
    width: 33vw;
    @include pc {
      height: 17vw;
      width: 11vw;
    };
  }
  &__info {
    padding: 8px 0px 8px 24px;
  }
  &__rank {
    font-weight: 700;
    font-size: 14px;
    &--1 {
      color: #dbb400;
    }
    &--2 {
      color: #9fa0a0;
    }
    &--3 {
      color: #c47022;
    }
  }
  &__title {
    margin-top: 12px;
    color: #039;
    font-size: 18px;
  }
  &__description {
    margin-top: 12px;
    font-size: 14px;
    line-height: 20px;
  }
  &__categories {
    display: flex;
    margin-top: 12px;
  }
  &__category {
    margin-right: 8px;
    font-size: 12px;
    padding: 4px;
    color: white;
    background: #A5C3CF;
    border-radius: 2px;
  }
  &__watching-times {
    display: flex;
    margin-top: 18px;
    font-size: 14px;
    &--icon {
      color: red;
      margin-right: 8px;
    }
  }
  &__good-number {
    display: flex;
    margin: 8px 0 18px;
    font-size: 14px;
    &--icon {
      color: #dbb400;
      margin-right: 8px;
    }
  }
}
