.wrapper {
  padding: 0 12px 16px;
}

.title {
  font-size: 16px;
  margin-top: 16px;
  font-weight: 700;
  @include pc {
    margin-right: 16px;
    margin-left: 16px;
  };
}

.subtitle {
  font-size: 14px;
  margin-top: 30px;
  font-weight: 700;
  @include pc {
    margin-right: 16px;
    margin-left: 16px;
  };
}

.description {
  font-size: 14px;
  margin-top: 16px;
  @include pc {
    margin-right: 16px;
    margin-left: 16px;
  };
}