#hamburger__cover{
  background:#000;
  opacity:0.6;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:1;
  display:none;
}

#hamburger__menu{
	z-index:2;
	position:absolute;
	top:0;
	right:-300px;
	background:white;
  padding: 20px 16px;
	box-sizing:border-box;
	width:300px;
	height:100%;
	transition:.2s;
  font-size: 16px;
}

.hamburger__menu-open{
	overflow-y:hidden;
}
 
.hamburger__menu-open #hamburger__menu{
	right:0;
  overflow: auto;
}

.hamburger__menu-open #hamburger__cover{
	display:block;
}

#hamburger__show, #hamburger__hide{
	float:right;
	cursor:pointer;
  font-size: 20px;
  @include pc {
    font-size: 24px;
  };
}

#hamburger__hide{
  @include pc {
    margin-right: 8px;
  };
}