.hero {
  margin-bottom: 16px;
  position: relative;
  background: black;
  height: 67vw;
  @include pc {
    height: 25vw;
  };
  &__image {
    height: 100%;
    width: 100vw;
    object-fit: cover;
    opacity: 0.65;
  }
  &__info {
    color: white;
    position: absolute;
    bottom: 0px;
    padding: 32px 8px;
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
    @include pc {
      font-size: 18px;
      padding: 32px 28px;
    };
  }
}