.hero {
  margin-bottom: 16px;
  position: relative;
  &__image {
    height: 67vw;
    width: 100vw;
  }
  &__info {
    color: white;
    position: absolute;
    bottom: 0px;
    padding: 32px 8px;
    line-height: 20px;
    font-size: 14px;
  }
}