.card {
  display: flex;
  padding: 16px 0;
  border-bottom: solid 1px #CCCCCC;
}
.card__image {
  height: 50vw;
  width: 33vw;
}
.card__info {
  padding: 8px;
}
.card__rank {
  margin-top: 8px;
}
.card__title {
  margin-top: 8px;
}
.card__categories {
  display: flex;
  margin-top: 8px;
}
.card__category {
  margin-right: 8px;
}

.footer {
  width: 80%;
  margin: 0 auto 16px;
  padding: 16px 0;
}
.footer__contents {
  display: flex;
}
.footer__link {
  margin: 0 8px;
}

.header {
  height: 60px;
  line-height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
.header__title {
  font-size: 24px;
}
.header__list {
  display: flex;
  margin: 0 0 0 8px;
}

.hero {
  margin-bottom: 16px;
}
.hero__image {
  height: 50vw;
  width: 100vw;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  margin: 0 8px 16px;
}
