@charset "UTF-8";
.btn__amazon {
  width: 140px;
  margin-top: 28px;
}
.btn__amazon--link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  background: #fff;
  position: relative;
}
.btn__amazon--link span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35px;
  background: #fff;
  box-sizing: border-box;
  color: #333;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-decoration: none;
  box-shadow: 0px 5px 12px #CAD4E2, -6px -6px 12px #FFF;
  position: absolute;
  top: -5px;
  left: 0;
  transition-duration: 0.2s;
  background: #ffb642;
  color: white;
}
.btn__amazon--link:hover span {
  left: 0;
  top: 0;
  box-shadow: 0 0 4px #CAD4E2, -2px -2px 4px #FFF;
}

.card__list {
  font-size: 0;
}
.card__item {
  display: inline-block;
  width: 100%;
}
@media only screen and (min-width: 480px) {
  .card__item {
    width: 33%;
  }
}
.card__item--large {
  width: 100%;
}
.card__item--large .card__title {
  margin-top: 0px;
}
.card__contents {
  display: flex;
  padding: 16px 0;
  border-bottom: solid 1px #CCCCCC;
}
@media only screen and (min-width: 480px) {
  .card__contents {
    margin: 0 16px;
  }
}
.card__contents--no-line {
  padding: 16px 0 0;
  border-bottom: none;
}
.card__image {
  height: 50vw;
  width: 33vw;
}
@media only screen and (min-width: 480px) {
  .card__image {
    height: 17vw;
    width: 11vw;
  }
}
.card__info {
  padding: 8px 0px 8px 24px;
}
.card__rank {
  font-weight: 700;
  font-size: 14px;
}
.card__rank--1 {
  color: #dbb400;
}
.card__rank--2 {
  color: #9fa0a0;
}
.card__rank--3 {
  color: #c47022;
}
.card__title {
  margin-top: 12px;
  color: #039;
  font-size: 18px;
}
.card__description {
  margin-top: 12px;
  font-size: 14px;
  line-height: 20px;
}
.card__categories {
  display: flex;
  margin-top: 12px;
}
.card__category {
  margin-right: 8px;
  font-size: 12px;
  padding: 4px;
  color: white;
  background: #A5C3CF;
  border-radius: 2px;
}
.card__watching-times {
  display: flex;
  margin-top: 18px;
  font-size: 14px;
}
.card__watching-times--icon {
  color: red;
  margin-right: 8px;
}
.card__good-number {
  display: flex;
  margin: 8px 0 18px;
  font-size: 14px;
}
.card__good-number--icon {
  color: #dbb400;
  margin-right: 8px;
}

.wrapper {
  padding: 0 12px 16px;
}

.title {
  font-size: 16px;
  margin-top: 15px;
  font-weight: 700;
}

.subtitle {
  font-size: 14px;
  margin-top: 30px;
  font-weight: 700;
}

.description {
  font-size: 14px;
  margin-top: 15px;
}

.footer {
  padding: 16px 12px 32px;
  font-size: 12px;
}
.footer__contents {
  display: flex;
  justify-content: center;
}
.footer__link {
  margin: 0 8px;
}

.header {
  height: 40px;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
}
@media only screen and (min-width: 480px) {
  .header {
    padding: 8px 28px;
  }
}
.header__title {
  font-size: 24px;
  font-weight: 700;
}
@media only screen and (min-width: 480px) {
  .header__title {
    font-size: 28px;
  }
}
.header__list {
  display: flex;
  margin: 0 0 0 14px;
  font-size: 18px;
}
@media only screen and (min-width: 480px) {
  .header__list {
    margin: 0 0 0 16px;
    font-size: 20px;
  }
}

.hero {
  margin-bottom: 16px;
  position: relative;
}
.hero__image {
  height: 67vw;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (min-width: 480px) {
  .hero__image {
    height: 25vw;
  }
}
.hero__info {
  color: white;
  position: absolute;
  bottom: 0px;
  padding: 32px 8px;
  line-height: 20px;
  font-size: 14px;
}
@media only screen and (min-width: 480px) {
  .hero__info {
    font-size: 16px;
    padding: 32px 28px;
  }
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /* オリジナル設定 */
  font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* オリジナル設定 */
a {
  color: black;
  text-decoration: none;
}
